.header{
  width: 100%;
  position: fixed;
  top: 0;
  padding: 1.25rem 1.75rem 0;
  z-index: 12;
  background-color: var(--color-bg);
  @media (max-width: 767px) {
    padding: 0 1rem;
  }

  &__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 1.25rem;
    margin: 0 auto;
    max-width: 108.125rem;
    gap: 2.5rem;
    @media (max-width: 1780px) {
      gap: 1.5rem;
    }
    @media (max-width: 1730px) {
      gap: 2.5rem;
    }
    @media (max-width: 1460px) {
      gap: 1.5rem;
    }
    @media (max-width: 767px) {
      padding: 1rem 0;
    }
  }
  &__logo{
    img{
      max-width: 100%;
    }
    @media (max-width: 1640px) {
      max-width: 13.75rem;
    }
    @media (max-width: 1440px) {
      max-width: 11.4375rem;
    }
    @media (max-width: 767px) {
      display: flex;
    }
    svg{
      @media (max-width: 991px) {
        max-width: 11.4375rem;
        max-height: 2.5rem;
      }
    }
  }
  &__link{
    @media (max-width: 1279px) {
      display: none;
    }
    transition: .3s all;
    cursor: pointer;
    &:hover{
      opacity: 0.7;
    }
    svg{
      @media (max-width: 991px) {
        max-width: 11.4375rem;
        max-height: 2.5rem;
      }
    }
  }

  &__link.header__link--mob{
    display: none;
    @media (max-width: 1279px) {
      display: flex;
    }
  }
  &__link.header__link--mob.js--hidden{
    opacity: 0;
  }
  &__mob-navigation{
    display: none;
    @media (max-width: 1279px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      position: relative;
      z-index: 11;
    }
  }
  .button{
    font-size: 1.125rem;
    border-radius: 2.5rem;
    background: rgba(37, 61, 46, 0.94);
    padding: 0.66rem 1.875rem;
    height: 2.625rem;
    @media(max-width: 1640px) {
      height: 2.25rem;
    }
    @media(max-width: 1440px){
      padding: 0.625rem 1.5rem;
      font-size: 0.875rem;
      height: 2.625rem;
    }
    @media(max-width: 1279px) {
      padding: 0.875rem 3.125rem;
      width: 100%;
      height: 3.125rem;
    }
  }
  .button.js--active{
    background-color: var(--color-bg);
    color: var(--color-main);
  }
  .button:hover{
    background-color: var(--color-button-bg);
  }
}
.header.header-second{
  @media (max-width: 1279px) {
    padding: 0 1.25rem;
  }
  @media (max-width: 767px) {
    padding: 0 1rem;
  }
}
.menu{
  width: 100%;
  @media(max-width: 1279px){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: var(--color-main);
    transition: .5s all;
    z-index: 10;
    overflow: hidden;
  }
  &__inner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    @media(max-width: 1279px){
      display: flex;
      flex-direction: column;
      padding: 2rem;
      margin-top: 5.5rem;
      height: calc(100vh - 5rem);
      overflow: auto;
    }
    @media(max-width: 767px){
      padding: 3.75rem 1rem 1.875rem;
      min-height: 100%;
      padding-bottom: 8rem;
    }
  }
  &__list{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    @media (max-width: 1280px) {
      align-items: flex-start;
      width: 100%;
      flex-direction: column;
      gap: 2rem;
      padding-bottom: 4rem;
    }
    @media(max-width: 991px){
      gap: 1.75rem;
    }
    @media(max-width: 767px){
      gap: 1rem;
      align-items: flex-start;
      width: 100%;
    }
  }
  &__item{
    @media(max-width: 1280px) {
      width: 100%;
    }
    .dropdown.js--active{
      @media(max-width: 1280px) {
        .dropdown__header{
          svg{
            transform: rotateZ(180deg);
          }
        }
      }
    }
    .dropdown__header{
      display: flex;
      align-items: center;
      padding: 0.625rem 1.5rem;
      border: 1px solid #959595;
      border-radius: 2.5rem;
      height: 2.625rem;
      svg{
        color: var(--color-main);
      }
      @media(max-width: 1730px){
        font-size: 1rem;
        padding: 0.625rem 1rem;
      }
      @media(max-width: 1640px){
        font-size: 0.875rem;
        padding: 0.5rem 1rem;
        height: 2.25rem;
      }
      @media(max-width: 1280px){
        display: flex;
        justify-content: flex-start;
        border: none;
        border-radius: 0;
        gap: 1.25rem;
        height: auto;
        svg{
          color: var(--color-text-light);
        }
      }
      @media(max-width: 767px){
        padding: 0.5rem 0;
      }
    }
    .dropdown__content{
      @media(max-width: 1280px){
        max-height: 0;
        overflow: hidden;
        position: relative;
        top: 0;
        padding-top: 0;
        .dropdown__inner{
          background-color: transparent;
          border-radius: 0;
          box-shadow: none;
          @media(max-width: 1280px) {
            padding: 1.5rem 0;
          }
        }
        .submenu__heading{
          color: var(--color-text-light);
        }
        .submenu__link{
          color: var(--color-text-light);
          svg{
            color: var(--color-text-light);
          }
        }
      }
    }
    .dropdown__content.js--active{
      @media(max-width: 1280px){
        max-height: 50rem;
        opacity: 1;
        pointer-events: visible;
      }
      @media(max-width: 767px){
        max-height: 150rem;
      }
    }
  }
  &__item > .menu__link{
    display: flex;
    align-items: center;
    padding: 0.625rem 1.5rem;
    border: 1px solid #959595;
    border-radius: 2.5rem;
    height: 2.625rem;
    @media(max-width: 1730px){
      font-size: 1rem;
      padding: 0.625rem 1rem;
    }
    @media(max-width: 1640px){
      font-size: 0.875rem;
      padding: 0.5rem 1rem;
      height: 2.25rem;
    }
    @media(max-width: 1280px){
      font-size: 2.5rem;
      color: var(--color-text-light);
      border: none;
      border-radius: 0;
      text-transform: capitalize;
      height: auto;
    }
    @media(max-width: 767px){
      padding: 0.5rem 0;
      font-size: 2rem;
    }
  }
  &__link{
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 112%;
    color: var(--color-main);
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: all .3s;
    &:hover{
      opacity: 0.7;
    }
    @media(max-width: 1730px){
      font-size: 1rem;
    }
    @media(max-width: 1640px){
      font-size: 0.875rem;
    }
    @media(max-width: 1440px){
      font-size: 0.875rem;
    }
    @media(max-width: 1280px){
      font-size: 2.5rem;
      color: var(--color-text-light);
      border: none;
      border-radius: 0;
      text-transform: capitalize;
    }
    @media(max-width: 767px){
      font-size: 2rem;
    }
  }
  &__panel{
    display: flex;
    align-items: center;
    column-gap: 1.25rem;
    @media(max-width: 1279px){
      position: relative;
      z-index: 11;
      row-gap: 1.75rem;
      margin-left: auto;
    }
    @media(max-width: 767px){
      width: 100%;
      align-items: flex-start;
    }
  }
  &__button{
    border: 1px solid #fff8ed;
    border-radius: 40px;
    padding: 0.625rem 2.125rem;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    color: var(--color-main);
    background: var(--transparent);
    transition: .3s all;
    cursor: pointer;
    &:hover{
      background-color: var(--color-main);
      color: var(--main-dark);
      border: 1px solid transparent;
    }
  }
  &-social{
    display: flex;
    align-items: center;
    column-gap: .625rem;
    @media(max-width: 1279px){
      column-gap: 1rem;
    }
  }
  &-social__link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 50%;
    background-color: var(--color-button-bg);
    color: #B89E85;
    transition: .3s all;
    cursor: pointer;
    svg{
      color: var(--color-white);
    }
    &:hover{
      background-color: var(--color-button-bg-hover);
    }
    @media(max-width: 1440px) {
      width: 2.25rem;
      height: 2.25rem;
      padding: .625rem;
    }
    @media(max-width: 1279px) {
      background-color: var(--color-white);
      color: #0B1E46;
      svg{
        color: #0B1E46;
      }
    }
    @media(max-width: 767px) {
      width: 3rem;
      height: 3rem;
    }
  }
  &__link-lang{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 100%;
    color: var(--color-main);
    transition: .3s all;
    cursor: pointer;
    &:hover{
      opacity: 0.7;
    }
  }
}
.menu.js--active{
  height: 101vh;
}
.submenu{
  min-width: 43rem;
  @media(max-width: 1750px) {
    min-width: 37rem;
  }
  @media(max-width: 1280px) {
    min-width: auto;
  }
  &__body{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3.125rem;
    @media(max-width: 1750px) {
      gap: 2.125rem;
    }
    @media(max-width: 1280px) {
      display: flex;
      flex-direction: column;
    }
  }
  &__col{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @media(max-width: 1750px) {
      gap: 1rem;
    }
  }
  &__list{
    column-count: 2;
    column-gap: 3.125rem;
    @media(max-width: 1280px) {
      column-count: 1;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1.75rem;
    }
    @media(max-width: 767px) {
      display: flex;
      flex-direction: column;
    }
  }
  &__list.submenu__list--one{
    display: flex;
    flex-direction: column;
    column-count: 1;
    @media(max-width: 1280px) {
      column-count: 1;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    @media(max-width: 767px) {
      display: flex;
      flex-direction: column;
    }
  }
  &__heading{
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--color-main);
    @media(max-width: 1750px) {
      font-size: 1.125rem;
    }
    @media(max-width: 1280px) {
      font-size: 1.25rem;
    }
  }
  &__item{
    margin: 0.75rem 0;
    @media(max-width: 1750px) {
      margin: 0.5rem 0;
    }
    @media(max-width: 1280px) {
      margin: 0.25rem 0;
    }
  }
  &__item:first-child{
    margin-top: 0;
  }
  &__item:last-child{
    margin-bottom: 0;
  }
  &__link{
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-weight: 400;
    font-size: 1.125rem;
    color: var(--color-text-dark);
    transition: .3s all;
    @media(max-width: 1750px) {
      font-size: 1rem;
    }
  }
  &__link:hover{
    font-weight: 500;
    color: var(--color-main);
  }
}

.burger{
  display: none;
  width: 3.125rem;
  min-width: 3.125rem;
  height: 3.125rem;
  z-index: 10;
  transition: .5s all;
  @media(max-width: 1280px){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0.6875rem;
  }
  &__item{
    width: 1.925rem;
    height: 1px;
    background-color: var(--color-main);
    border-radius: 0.125rem;
    transition: .5s all;
  }
  &__item:nth-child(2){
    margin-left: auto;
    margin-right: 0.675rem;
    width: 1.2rem;
  }
}
.burger.js--active{
  transform: rotateZ(225deg);
  .burger__item{
    background-color: var(--color-bg);
  }
  .burger__item:first-child{
    transform: translate(0, 12px) rotateZ(90deg);
  }
  .burger__item:nth-child(2){
    opacity: 0;
  }
  .burger__item:last-child{
    transform: translate(0, -12px);
  }
}