:root {

  --font-family: "Roboto", 'Arial', sans-serif;
  --second-family: "Playfair Display", 'Arial', serif;

  --transparent: transparent;
  --color-main: #253d2e;
  --color-text-dark: #696c6a;
  --color-button-bg: #023226;
  --color-button-bg-hover: #1a472b;
  --color-button-text: #f1eee7;
  --color-heading-blue-dark: #0b1e46;
  --color-heading-blue: #3d3b6d;
  --color-heading-blue-secondary: #3b4966;
  --color-heading-dark: #0e1112;

  --color-text-placeholder: #959595;
  --color-text-light: #f5f4f2;
  --color-text-gold: #c09d6f;

  --color-white: #FFFFFF;
  --color-bg: #f5f4f2;
  --color-bg-green-light: #70836a;
  --color-bg-grey: #f1eeea;

}